  ---
  import BaseLayout from '../layouts/BaseLayout.astro'
  import { SITE_BASE, SocialLinks } from '../consts'
  import { Icon } from 'astro-icon/components'
  import BlogCard from '../components/BlogCard.astro'
  import { getCollection } from 'astro:content'

  const bio = `馬大文（Vanny Ma）。熟悉領域為藝文出版與數位網路，擅長營運規劃及
  數據行銷分析。曾出版現場錄音專輯《我的我的夏天》，現經營
  Podcast《如果只有你聽見》，持續學習成為一個不斷變化與流動的創作者。`

  const posts = (await getCollection('blog'))
      .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
      .slice(0, 4)
  ---

  <BaseLayout>
      <main
          class="app-container flex flex-col gap-12 justify-center py-36
  md:py-48 pt-44 md:pt-56 relative"
      >
          <div>
              <p class="block text-3xl opacity-70 mt-9 mb-4">To hear and to be
  heard.</p>
              <h1 class="text-8xl font-bold leading-none" style="color: red;">Vanny's
  Note</h1>
          </div>
          <p class="text-2xl max-w-2xl font-light leading-normal">{bio}</p>
          <div class="flex flex-wrap gap-8">
              {
                  SocialLinks.map((link) => (
                      <a
                          class="text-xl text-primary dark:text-primary-dark
  underline hover:underline underline-offset-4"
                          href={link.url}
                          target="_blank"
                      >
                          {link.name}
                      </a>
                  ))
              }
          </div>
      </main>

      <section class="app-container">
          <h2 class="section-title">最新文章</h2>
          <div class="posts-grid-container">
              {posts.map((post) => <BlogCard post={post} />)}
          </div>
          <a class="btn-secondary" href={`${SITE_BASE}/blog`}>
              看更多文章
              <Icon size={20} name="mdi:arrow-right" />
          </a>
      </section>

      <section class="app-container py-42 grid lg:grid-cols-2 gap-28 lg:gap-10">
          <div class="space-y-6">
              <h2 class="section-title">關於我</h2>
              <p class="text-lg max-w-xl pb-4">{bio}</p>
              <a class="btn-secondary" href={`${SITE_BASE}/about`}>
                  了解更多
                  <Icon size={20} name="mdi:arrow-right" />
              </a>
          </div>
          <div class="space-y-6">
              <h2 class="section-title">聯絡我</h2>
              <p class="text-lg max-w-xl">
                  有任何想法或合作邀請，歡迎寄信給我。
              </p>
              <div class="flex flex-wrap mt-auto space-x-4">
                  <a
                      class="btn-primary"
                      href="mailto:vannyma@gmail.com"
                      target="_blank"
                  >
                      寄信給我
                      <Icon height={20} name="mdi:email" />
                  </a>
              </div>
          </div>
      </section>
  </BaseLayout>
